extends ./layout.pug 
block content
    include ./navbar.pug
    .row
        .col-lg-12
            .card
                .card-body
                    .general-label
                        form(method="POST",action="/addBlog/",enctype="multipart/form-data")
                            h4.mt-0.header-title File Upload 
                            p.text-muted.mb-3 
                            .form-group.row
                                label.col-sm-2.col-form-label(for='horizontalInput1')
                                    | Upload
                                    | image
                                .col-sm-10
                                    //- input(type="hidden",name="_id",value="#{blogModel._id}")
                                    input#input-file-now-custom-1.dropify(type='file',name='image',value='#{blogModel.image}')
                            .form-group.row 
                                label.col-sm-2.col-form-label(for='category') Category
                                .col-sm-10
                                    input#title.form-control(type='text',name='category',placeholder="Category",value='#{blogModel.category}')
                            .form-group.row 
                                label.col-sm-2.col-form-label(for='title') Title
                                .col-sm-10
                                    input#title.form-control(type='text',name='title',value='#{blogModel.title}',placeholder="Title")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='description') Description
                                .col-sm-10
                                    textarea#description.form-control(rows='3',name='description',value='#{blogModel.description}',placeholder="Description")
                            .row
                                .col-sm-10.ml-auto
                                    button.btn.btn-primary.btn-space(type='submit') Submit 
                                    button.btn.btn-danger.btn-space(type='button') Cancel 
    include ./footer.pug